In [6]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [8]:
#2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [9]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [14]:
# series = 1-dimensional

In [18]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [26]:
#DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Color": colors})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [30]:
# Import Data
car_sales = pd.read_csv("car-sales.csv")

In [32]:
car_sales

     Make Colour  Odometer  Doors    Price
0  Toyota  White    150043      4   $4,000
1   Honda    Red     87899      4   $5,000
2  Toyota   Blue     32549      3   $7,000
3     BMW  Black     11179      5  $22,000
4  Nissan  White    213095      4   $3,500
5  Toyota  Green     99213      4   $4,500
6   Honda   Blue     45698      4   $7,500
7   Honda   Blue     54738      4   $7,000
8  Toyota  White     60000      4   $6,250
9  Nissan  White     31600      4   $9,700

In [42]:
# Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv", index=False)

In [44]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")
exported_car_sales

     Make Colour  Odometer  Doors    Price
0  Toyota  White    150043      4   $4,000
1   Honda    Red     87899      4   $5,000
2  Toyota   Blue     32549      3   $7,000
3     BMW  Black     11179      5  $22,000
4  Nissan  White    213095      4   $3,500
5  Toyota  Green     99213      4   $4,500
6   Honda   Blue     45698      4   $7,500
7   Honda   Blue     54738      4   $7,000
8  Toyota  White     60000      4   $6,250
9  Nissan  White     31600      4   $9,700